<launch>
  <arg name="node_name" default="seed_fts3_right"/>
  <arg name="config_file" default="$(find-pkg-share ros2_fts)/config/sensors_right.yaml"/>

  <node pkg="ros2_fts" exec="read_publish_sensor_node.py" name="$(var node_name)" output="screen">
    <param from="$(var config_file)"/>
  </node>
</launch>
